core/src/test/resources/sanity-checks/kv.yaml
id: kv
namespace: sanitychecks.core

variables:
  key: mykey
  data: test12345
  data_updated: test67890

tasks:
  - id: set
    type: io.kestra.plugin.core.kv.Set
    key: "{{ vars.key }}"
    value: "{{ vars.data }}"
    kvType: STRING

  - id: put
    type: io.kestra.plugin.core.kv.Put
    key: "{{ vars.key }}"
    value:
      - value: "{{ vars.data_updated }}"

  - id: get
    type: io.kestra.plugin.core.kv.Get
    key: "{{ vars.key }}"

  - id: assert_get_set
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ vars.data_updated == outputs.get.value }}"

  - id: delete
    type: io.kestra.plugin.core.kv.Delete
    key: "{{ vars.key }}"

  - id: get_keys
    type: io.kestra.plugin.core.kv.GetKeys

  - id: assert_delete_get_keys
    type: io.kestra.plugin.core.execution.Assert
    conditions: 
      - "{{ outputs.get_keys.keys | length == 0 }}"
