core/src/test/resources/flows/valids/loop-outputs-auto.yaml
id: loop-outputs-auto
namespace: io.kestra.tests

tasks:
  - id: write
    type: io.kestra.plugin.core.storage.Write
    content: |-
      {date:"2025-12-03T12:00:00Z",title:"Coupe_du_monde_masculine_de_rugby_à_XV_2027",views:490}
      {date:"2025-12-03T12:00:00Z",title:"Michel-Ange",views:448}
      {date:"2025-12-03T12:00:00Z",title:"Histoire_des_jeux",views:438}
  - id: loop
    type: io.kestra.plugin.core.flow.Loop
    values: "{{ outputs.write.uri }}"
    outputs:
      - id: value
        type: STRING
        value: "{{outputs.createOutput.value}}"
    tasks:
      - id: createOutput
        type: io.kestra.plugin.core.debug.Return
        format: "some output"
  - id: end
    type: io.kestra.plugin.core.debug.Return
    format: "{{outputs.loop.outputs}}"
