core/src/test/resources/flows/valids/task-when.yml
id: task-when
namespace: io.kestra.tests
tasks:
  - id: output
    type: io.kestra.plugin.core.output.OutputValues
    values:
      taskrun_data: 1
  - id: executed
    type: io.kestra.plugin.core.log.Log
    when: "{{ outputs.output['values']['taskrun_data'] == 1 }}"
    message:
      - "success"
  - id: notexecuted
    type: io.kestra.plugin.core.log.Log
    when: "{{ outputs.output['values']['taskrun_data'] == 2 }}"
    message:
      - "should not be printed"
  - id: notexecutedflowable
    type: io.kestra.plugin.core.flow.Subflow
    when: "false"
    wait: true
    flowId: dummy_flow
    namespace: dummy_namespace
  - id: willfailedtheflow
    type: io.kestra.plugin.core.log.Log
    when: "{{ outputs.notexists == 2 }}"
    message:
      - "should failed"