core/src/test/resources/flows/valids/task-when-executionupdating.yml
id: task-when-executionupdating
namespace: io.kestra.tests

variables:
  list: []

tasks:
  - id: output
    type: io.kestra.plugin.core.output.OutputValues
    values:
      taskrun_data: 1

  - id: unsetVariables
    type: io.kestra.plugin.core.execution.UnsetVariables
    when: "true"
    variables:
      - list

  - id: setVariables
    type: io.kestra.plugin.core.execution.SetVariables
    when: "{{ outputs.output['values']['taskrun_data'] == 1 }}"
    variables:
      list: [42]

  - id: skipSetVariables
    type: io.kestra.plugin.core.execution.SetVariables
    when: "false"
    variables:
      list: [1]

  - id: skipUnsetVariables
    type: io.kestra.plugin.core.execution.UnsetVariables
    when: "{{ outputs.output['values']['taskrun_data'] == 2 }}"
    variables:
      - list